In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

pd.set_option("display.max_rows",200)
pd.set_option("display.max_columns",35)

import warnings
warnings.simplefilter('ignore')
import seaborn as sns

In [2]:
train = pd.read_csv("training.csv")

In [3]:
test = pd.read_csv("test.csv")

In [4]:
example=pd.read_csv("example_entry.csv")

In [5]:
train.head()

,RefId,IsBadBuy,PurchDate,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,Color,Transmission,WheelTypeID,WheelType,VehOdo,Nationality,Size,TopThreeAmericanName,MMRAcquisitionAuctionAveragePrice,MMRAcquisitionAuctionCleanPrice,MMRAcquisitionRetailAveragePrice,MMRAcquisitonRetailCleanPrice,MMRCurrentAuctionAveragePrice,MMRCurrentAuctionCleanPrice,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,PRIMEUNIT,AUCGUART,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost
0,1,0,12/7/2009,ADESA,2006,3,MAZDA,MAZDA3,i,4D SEDAN I,RED,AUTO,1.0,Alloy,89046,OTHER ASIAN,MEDIUM,OTHER,8155.0,9829.0,11636.0,13600.0,7451.0,8552.0,11597.0,12409.0,NaN,NaN,21973,33619,FL,7100.0,0,1113
1,2,0,12/7/2009,ADESA,2004,5,DODGE,1500 RAM PICKUP 2WD,ST,QUAD CAB 4.7L SLT,WHITE,AUTO,1.0,Alloy,93593,AMERICAN,LARGE TRUCK,CHRYSLER,6854.0,8383.0,10897.0,12572.0,7456.0,9222.0,11374.0,12791.0,NaN,NaN,19638,33619,FL,7600.0,0,1053
2,3,0,12/7/2009,ADESA,2005,4,DODGE,STRATUS V6,SXT,4D SEDAN SXT FFV,MAROON,AUTO,2.0,Covers,73807,AMERICAN,MEDIUM,CHRYSLER,3202.0,4760.0,6943.0,8457.0,4035.0,5557.0,7146.0,8702.0,NaN,NaN,19638,33619,FL,4900.0,0,1389
3,4,0,12/7/2009,ADESA,2004,5,DODGE,NEON,SXT,4D SEDAN,SILVER,AUTO,1.0,Alloy,65617,AMERICAN,COMPACT,CHRYSLER,1893.0,2675.0,4658.0,5690.0,1844.0,2646.0,4375.0,5518.0,NaN,NaN,19638,33619,FL,4100.0,0,630
4,5,0,12/7/2009,ADESA,2005,4,FORD,FOCUS,ZX3,2D COUPE ZX3,SILVER,MANUAL,2.0,Covers,69367,AMERICAN,COMPACT,FORD,3913.0,5054.0,7723.0,8707.0,3247.0,4384.0,6739.0,7911.0,NaN,NaN,19638,33619,FL,4000.0,0,1020

In [6]:
test.head()

,RefId,PurchDate,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,Color,Transmission,WheelTypeID,WheelType,VehOdo,Nationality,Size,TopThreeAmericanName,MMRAcquisitionAuctionAveragePrice,MMRAcquisitionAuctionCleanPrice,MMRAcquisitionRetailAveragePrice,MMRAcquisitonRetailCleanPrice,MMRCurrentAuctionAveragePrice,MMRCurrentAuctionCleanPrice,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,PRIMEUNIT,AUCGUART,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost
0,73015,12/2/2009,ADESA,2005,4,PONTIAC,GRAND PRIX,Bas,4D SEDAN,SILVER,AUTO,1.0,Alloy,85377,AMERICAN,LARGE,GM,5032.0,6386.0,5935.0,7397.0,4905.0,6181.0,8557.0,9752.0,NaN,NaN,18881,30212,GA,6500.0,0,2152
1,73016,12/2/2009,ADESA,2005,4,CHEVROLET,MALIBU V6,LS,4D SEDAN LS,SILVER,AUTO,1.0,Alloy,61873,AMERICAN,MEDIUM,GM,4502.0,5685.0,5362.0,6640.0,4645.0,5710.0,7562.0,9296.0,NaN,NaN,18111,30212,GA,6300.0,0,1118
2,73017,12/2/2009,ADESA,2006,3,DODGE,DURANGO 2WD V8,Adv,4D SUV 4.7L ADVENTURER,SILVER,AUTO,1.0,Alloy,69283,AMERICAN,MEDIUM SUV,CHRYSLER,10244.0,13041.0,11564.0,14584.0,10883.0,12166.0,15340.0,16512.0,NaN,NaN,18111,30212,GA,9700.0,0,1215
3,73018,12/2/2009,ADESA,2002,7,SATURN,L SERIES,L20,4D SEDAN L200,GOLD,AUTO,1.0,Alloy,87889,AMERICAN,MEDIUM,GM,2558.0,3542.0,3263.0,4325.0,2928.0,3607.0,5725.0,6398.0,NaN,NaN,18881,30212,GA,4150.0,0,1933
4,73019,12/2/2009,ADESA,2007,2,HYUNDAI,ACCENT,GS,2D COUPE GS,BLUE,AUTO,NaN,NaN,73432,OTHER ASIAN,COMPACT,OTHER,5013.0,6343.0,5914.0,7350.0,5013.0,6343.0,5914.0,7350.0,NaN,NaN,18111,30212,GA,4100.0,0,920

In [7]:
example.head()

   RefId  IsBadBuy
0  73015         0
1  73016         0
2  73017         0
3  73018         0
4  73019         0

In [8]:
train.shape, test.shape

((72983, 34), (48707, 33))

In [9]:
train.sample(20)

,RefId,IsBadBuy,PurchDate,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,Color,Transmission,WheelTypeID,WheelType,VehOdo,Nationality,Size,TopThreeAmericanName,MMRAcquisitionAuctionAveragePrice,MMRAcquisitionAuctionCleanPrice,MMRAcquisitionRetailAveragePrice,MMRAcquisitonRetailCleanPrice,MMRCurrentAuctionAveragePrice,MMRCurrentAuctionCleanPrice,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,PRIMEUNIT,AUCGUART,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost
36303,36326,1,7/10/2009,MANHEIM,2003,6,FORD,ESCAPE 2WD V6 3.0L V,XLT,4D CUV 3.0L XLT,GOLD,AUTO,1.0,Alloy,99899,AMERICAN,SMALL SUV,FORD,5138.0,6435.0,6049.0,7450.0,5138.0,6435.0,6049.0,7450.0,NaN,NaN,20833,75236,TX,4140.0,0,1353
57189,57217,1,4/1/2009,MANHEIM,2001,8,FORD,MUSTANG V6 3.8L V6 E,Bas,2D COUPE,WHITE,AUTO,1.0,Alloy,61879,AMERICAN,SPORTS,FORD,3341.0,4371.0,4108.0,5221.0,3341.0,4371.0,4108.0,5221.0,NaN,NaN,23359,92057,CA,5690.0,0,1028
62618,62648,0,10/27/2009,MANHEIM,2005,4,CHRYSLER,PT CRUISER 2.4L I4 S,Tou,4D SEDAN,SILVER,AUTO,2.0,Covers,71037,AMERICAN,MEDIUM,CHRYSLER,4436.0,5654.0,5291.0,6606.0,3771.0,4728.0,6928.0,8323.0,NaN,NaN,18880,28625,NC,5345.0,0,1389
41363,41386,0,7/15/2010,MANHEIM,2004,6,DODGE,1500 RAM PICKUP 2WD,ST,QUAD CAB 4.7L SLT,GREY,AUTO,1.0,Alloy,95613,AMERICAN,LARGE TRUCK,CHRYSLER,6776.0,8509.0,10825.0,12766.0,7360.0,9382.0,11645.0,13572.0,NaN,NaN,18880,29532,SC,8475.0,0,1053
19517,19530,0,5/19/2009,OTHER,2006,3,FORD,F150 PICKUP 2WD V8 5,Lar,EXT CAB 5.4L LARIAT,SILVER,AUTO,1.0,Alloy,87331,AMERICAN,LARGE TRUCK,FORD,14728.0,17978.0,16406.0,19916.0,14165.0,16088.0,15798.0,17875.0,NaN,NaN,21053,95673,CA,8935.0,0,853
40253,40276,0,9/10/2009,MANHEIM,2001,8,MAZDA,TRIBUTE 2WD V6 3.0L,DX,4D SPORT UTILITY DX,BEIGE,AUTO,1.0,Alloy,82148,OTHER ASIAN,SMALL SUV,OTHER,2689.0,3610.0,3404.0,4399.0,2860.0,4020.0,5504.0,6651.0,NaN,NaN,19638,33619,FL,6265.0,0,1283
65249,65280,0,6/17/2010,MANHEIM,2008,2,MITSUBISHI,LANCER,DE,4D SEDAN DE,GREY,AUTO,2.0,Covers,72835,OTHER ASIAN,COMPACT,OTHER,8594.0,9989.0,12203.0,13545.0,7782.0,9271.0,11466.0,12942.0,NaN,NaN,8655,77061,TX,8130.0,0,569
29427,29448,0,12/30/2009,OTHER,2008,1,DODGE,CALIBER,SE,4D WAGON,GREY,AUTO,2.0,Covers,52344,AMERICAN,MEDIUM,CHRYSLER,6827.0,7406.0,11190.0,11847.0,7901.0,8376.0,11284.0,11757.0,NaN,NaN,99761,74135,OK,6400.0,0,754
6019,6026,0,11/23/2010,MANHEIM,2005,5,DODGE,DURANGO 4WD V8,SLT,4D SUV 4.7L,SILVER,AUTO,2.0,Covers,86856,AMERICAN,MEDIUM SUV,CHRYSLER,7894.0,9551.0,12337.0,13937.0,8091.0,9936.0,12433.0,14056.0,NO,GREEN,835,85040,AZ,9780.0,0,1763
63467,63498,0,10/6/2009,MANHEIM,2002,7,BUICK,CENTURY V6 3.1L V6 S,Cus,4D SEDAN CUSTOM,GOLD,AUTO,2.0,Covers,85171,AMERICAN,MEDIUM,GM,2409.0,3537.0,3102.0,4320.0,3355.0,4369.0,6044.0,6837.0,NaN,NaN,18111,37210,TN,3600.0,0,2452
51217,51245,0,3/25/2009,MANHEIM,2005,4,MAZDA,MAZDA6 2.3L I4 MFI /,i,4D SEDAN I,GREY,AUTO,2.0,Covers,83618,OTHER ASIAN,MEDIUM,OTHER,7118.0,8517.0,8187.0,9698.0,6719.0,8114.0,7757.0,9263.0,NaN,NaN,3453,80011,CO,6490.0,0,1373
52344,52372,0,12/15/2010,MANHEIM,2007,3,NISSAN,XTERRA 2WD V6,S,4D SPORT UTILITY,BLACK,AUTO,1.0,Alloy,73942,TOP LINE ASIAN,MEDIUM SUV,OTHER,12056.0,13577.0,15566.0,17105.0,11026.0,13131.0,15082.0,17223.0,NO,GREEN,25100,78219,TX,9435.0,0,569
26654,26672,0,10/20/2009,MANHEIM,2005,4,DODGE,STRATUS 4C 2.4L I4 M,SXT,4D SEDAN,GREY,AUTO,2.0,Covers,78848,AMERICAN,MEDIUM,CHRYSLER,3153.0,4036.0,3905.0,4859.0,3768.0,4798.0,6888.0,8198.0,NaN,NaN,22808,75050,TX,5225.0,0,1155
55897,55925,0,5/20/2009,OTHER,2007,2,CHRYSLER,SEBRING 4C 2.4L I4 E,Bas,4D SEDAN,SILVER,AUTO,2.0,Covers,42880,AMERICAN,MEDIUM,CHRYSLER,7025.0,8164.0,8087.0,9317.0,7025.0,8164.0,8087.0,9317.0,NaN,NaN,99761,85284,AZ,7735.0,0,834
32634,32656,0,3/24/2009,MANHEIM,2003,6,FORD,RANGER PICKUP 2WD 4C,XL,REG CAB 2.3L EDGE,SILVER,AUTO,1.0,Alloy,84268,AMERICAN,SMALL TRUCK,FORD,2973.0,3815.0,3711.0,4620.0,3441.0,3889.0,4216.0,4700.0,NaN,NaN,22916,80022,CO,4100.0,0,894
42524,42548,0,9/23/2010,MANHEIM,2006,4,CHEVROLET,IMPALA,LS,4D SEDAN LS,BEIGE,AUTO,2.0,Covers,78934,AMERICAN,LARGE,GM,6256.0,7663.0,9630.0,11205.0,6091.0,7413.0,9761.0,11058.0,NaN,NaN,18880,29532,SC,8510.0,0,1974
27759,27778,0,5/6/2009,MANHEIM,2002,7,FORD,FOCUS 2.0L I4 SFI,ZX5,4D WAGON ZX5,BLUE,AUTO,1.0,Alloy,63415,AMERICAN,COMPACT,FORD,3130.0,3891.0,3880.0,4702.0,3130.0,3891.0,3880.0,4702.0,NaN,NaN,19619,32824,FL,4100.0,0,1320
72855,72887,0,9/16/2009,ADESA,2006,3,CHEVROLET,COBALT 2.2L I4 MPI,LS,4D SEDAN LS,WHITE,AUTO,2.0,Covers,56135,AMERICAN,COMPACT,GM,5209.0,6455.0,6126.0,7471.0,5193.0,6445.0,6108.0,7461.0,NaN,NaN,18111,30212,GA,6000.0,0,671
42561,42585,0,9/30/2010,MANHEIM,2008,2,CHEVROLET,MALIBU 4C,LS,4D SEDAN LS,BLUE,AUTO,2.0,Covers,69510,AMERICAN,MEDIUM,GM,9043.0,9908.0,13103.0,13917.0,9125.0,10259.0,12750.0,14071.0,NaN,NaN,52492,29532,SC,9715.0,0,923
31702,31724,0,12/18/2009,OTHER,2008,1,CHRYSLER,PT CRUISER,Bas,4D SEDAN,BLACK,AUTO,2.0,Covers,37926,AMERICAN,MEDIUM,CHRYSLER,6350.0,6904.0,9615.0,10027.0,7169.0,7851.0,10281.0,10890.0,NaN,NaN,99761,78745,TX,6300.0,0,882

In [10]:
train['IsBadBuy'].value_counts(normalize=True)

0    0.877012
1    0.122988
Name: IsBadBuy, dtype: float64

In [11]:
df=train.append(test)

In [12]:
df.sample(20)

,RefId,IsBadBuy,PurchDate,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,Color,Transmission,WheelTypeID,WheelType,VehOdo,Nationality,Size,TopThreeAmericanName,MMRAcquisitionAuctionAveragePrice,MMRAcquisitionAuctionCleanPrice,MMRAcquisitionRetailAveragePrice,MMRAcquisitonRetailCleanPrice,MMRCurrentAuctionAveragePrice,MMRCurrentAuctionCleanPrice,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,PRIMEUNIT,AUCGUART,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost
60378,60407,0.0,12/3/2010,ADESA,2004,6,CHRYSLER,PT CRUISER,Bas,4D SEDAN,WHITE,MANUAL,2.0,Covers,76926,AMERICAN,MEDIUM,CHRYSLER,3671.0,4724.0,6750.0,7905.0,3716.0,4755.0,6691.0,7438.0,NO,RED,18880,37771,TN,3665.0,0,1389
16796,16807,0.0,12/9/2009,MANHEIM,2004,5,CHRYSLER,TOWN & COUNTRY FWD V,LX,MINIVAN 3.3L LX,SILVER,AUTO,2.0,Covers,54908,AMERICAN,VAN,CHRYSLER,4166.0,5532.0,7388.0,8767.0,4314.0,5565.0,7904.0,9305.0,NaN,NaN,20928,32824,FL,6100.0,0,1251
46566,46590,0.0,9/16/2009,MANHEIM,2005,4,CHRYSLER,TOWN & COUNTRY FWD V,LX,MINIVAN 3.3L LX,BLUE,AUTO,2.0,Covers,87164,AMERICAN,VAN,CHRYSLER,5491.0,7303.0,6430.0,8387.0,4996.0,6659.0,5896.0,7692.0,NaN,NaN,8172,33809,FL,5530.0,0,1763
30187,30208,0.0,6/30/2010,MANHEIM,2008,2,PONTIAC,G6 V6,Bas,4D SEDAN SE1,SILVER,AUTO,1.0,Alloy,78991,AMERICAN,MEDIUM,GM,9322.0,10508.0,13507.0,14538.0,8805.0,10235.0,12845.0,14058.0,NaN,NaN,20928,32824,FL,8050.0,0,1272
24138,97163,NaN,3/4/2009,OTHER,2006,3,FORD,FREESTAR FWD V6 3.9L,SE,PASSENGER 3.9L SE,BLACK,AUTO,2.0,Covers,87607,AMERICAN,VAN,FORD,6012.0,7381.0,6993.0,8471.0,5762.0,7000.0,6723.0,8060.0,NaN,NaN,18880,27407,NC,5200.0,0,1633
47479,120517,NaN,7/22/2010,MANHEIM,2005,5,CHRYSLER,PACIFICA FWD,Tou,4D SPORT TOURING,BLUE,AUTO,3.0,Special,78070,AMERICAN,CROSSOVER,CHRYSLER,7331.0,8972.0,10453.0,13020.0,6300.0,7639.0,9987.0,11240.0,NaN,NaN,17212,77061,TX,8195.0,0,1389
1834,1836,0.0,3/30/2009,ADESA,2001,8,MAZDA,TRIBUTE 4WD V6 3.0L,LX,4D SPORT UTILITY ES,SILVER,AUTO,1.0,Alloy,85224,OTHER ASIAN,SMALL SUV,OTHER,4037.0,4866.0,4860.0,5755.0,NaN,NaN,NaN,NaN,NaN,NaN,5546,33619,FL,6100.0,0,1803
12976,12985,0.0,10/4/2010,MANHEIM,2006,4,CHRYSLER,PT CRUISER,Tou,4D SEDAN,BLUE,AUTO,2.0,Covers,60427,AMERICAN,MEDIUM,CHRYSLER,4577.0,5669.0,8044.0,9197.0,4608.0,5449.0,8083.0,8934.0,NaN,NaN,19619,27542,NC,5300.0,0,1215
14026,87046,NaN,9/4/2009,OTHER,2008,1,DODGE,AVENGER 4C 2.4L I4 S,SE,4D SEDAN,SILVER,AUTO,2.0,Covers,51341,AMERICAN,MEDIUM,CHRYSLER,8571.0,9329.0,9757.0,10575.0,8568.0,9325.0,9753.0,10571.0,NaN,NaN,99761,32225,FL,7800.0,0,920
45997,119034,NaN,8/25/2009,MANHEIM,2008,1,DODGE,AVENGER 4C 2.4L I4 S,SXT,4D SEDAN SXT,WHITE,AUTO,1.0,Alloy,59528,AMERICAN,MEDIUM,CHRYSLER,10360.0,11771.0,11689.0,13213.0,10565.0,11750.0,13785.0,14401.0,NaN,NaN,18111,37210,TN,8100.0,0,920
5735,5742,0.0,3/23/2010,MANHEIM,2005,5,KIA,AMANTI,NaN,4D SEDAN,SILVER,AUTO,1.0,Alloy,70660,OTHER ASIAN,LARGE,OTHER,6732.0,8327.0,10646.0,12181.0,6003.0,7239.0,9790.0,11806.0,NaN,NaN,835,85040,AZ,7000.0,0,1272
349,73364,NaN,10/15/2009,ADESA,2006,3,FORD,TAURUS 3.0L V6 EFI,SE,4D SEDAN SE,BLACK,AUTO,2.0,Covers,83276,AMERICAN,MEDIUM,FORD,4538.0,5730.0,5401.0,6688.0,4417.0,5578.0,7741.0,9307.0,NaN,NaN,21973,32219,FL,5200.0,0,983
46041,119078,NaN,11/17/2009,MANHEIM,2002,7,NISSAN,XTERRA 2WD V6,SE,4D SPORT UTILITY SE,GREEN,AUTO,1.0,Alloy,65475,TOP LINE ASIAN,MEDIUM SUV,OTHER,5403.0,6187.0,6335.0,7182.0,5198.0,6124.0,8971.0,10569.0,NaN,NaN,18881,37210,TN,7925.0,0,833
25632,25650,0.0,2/17/2010,OTHER,2006,4,CHEVROLET,TRAILBLAZER 2WD 6C,LS,4D SUV 4.2L,GOLD,AUTO,1.0,Alloy,88676,AMERICAN,MEDIUM SUV,GM,8890.0,10815.0,13062.0,14346.0,9805.0,11662.0,14108.0,16263.0,NaN,NaN,17675,29697,SC,8400.0,0,1243
52026,52054,0.0,7/14/2010,MANHEIM,2004,6,DODGE,DURANGO 4WD V8,SLT,4D SUV 4.7L,BLUE,AUTO,1.0,Alloy,83426,AMERICAN,MEDIUM SUV,CHRYSLER,7158.0,8722.0,11635.0,13087.0,8495.0,9961.0,12337.0,13656.0,NaN,NaN,22808,78219,TX,9735.0,0,1763
21233,21248,0.0,12/8/2010,MANHEIM,2004,6,DODGE,INTREPID,SE,4D SEDAN SE,SILVER,AUTO,1.0,Alloy,99882,AMERICAN,LARGE,CHRYSLER,1734.0,2566.0,4979.0,6043.0,1765.0,2426.0,4948.0,6180.0,NaN,NaN,8655,75236,TX,2340.0,0,2062
2738,75753,NaN,5/6/2009,ADESA,2006,3,SATURN,VUE 2WD 4C 2.2L I4 M,NaN,4D CUV 2.2L,GREEN,AUTO,2.0,Covers,55248,AMERICAN,MEDIUM SUV,GM,7669.0,9291.0,8783.0,10534.0,7669.0,9291.0,8783.0,10534.0,NaN,NaN,18111,35004,AL,7515.0,0,1251
26064,99090,NaN,2/24/2009,MANHEIM,2002,7,DODGE,CARAVAN GRAND FWD V6,Spo,MINIVAN 3.3L FFV SPORT,RED,AUTO,2.0,Covers,81662,AMERICAN,VAN,CHRYSLER,2904.0,3719.0,3636.0,4517.0,3371.0,4293.0,4141.0,5136.0,NaN,NaN,21973,19440,PA,4635.0,0,2063
9225,9234,0.0,4/17/2009,MANHEIM,2002,7,KIA,SPORTAGE 4WD 2.0L I4,NaN,4D SPORT UTILITY,BEIGE,AUTO,1.0,Alloy,46838,OTHER ASIAN,SMALL SUV,OTHER,2992.0,4143.0,3731.0,4974.0,2992.0,4143.0,3731.0,4974.0,NaN,NaN,17675,27542,NC,4000.0,0,993
40604,40627,0.0,2/12/2009,MANHEIM,2004,5,CHEVROLET,TRAILBLAZER 2WD 6C 4,Nor,4D SUV 4.2L LS,WHITE,AUTO,1.0,Alloy,82466,AMERICAN,MEDIUM SUV,GM,5689.0,6773.0,6644.0,7815.0,3716.0,4747.0,4513.0,5627.0,NaN,NaN,18881,29532,SC,8335.0,0,1243

In [13]:
df.isnull().sum().sort_values(ascending=False)

PRIMEUNIT                            115755
AUCGUART                             115755
IsBadBuy                              48707
WheelType                              5362
WheelTypeID                            5357
Trim                                   3910
MMRCurrentRetailCleanPrice              458
MMRCurrentAuctionCleanPrice             458
MMRCurrentAuctionAveragePrice           458
MMRCurrentRetailAveragePrice            458
MMRAcquisitionAuctionAveragePrice        28
MMRAcquisitionAuctionCleanPrice          28
MMRAcquisitionRetailAveragePrice         28
MMRAcquisitonRetailCleanPrice            28
SubModel                                 13
Color                                    12
Transmission                             12
Nationality                              12
Size                                     12
TopThreeAmericanName                     12
BYRNO                                     0
VNZIP1                                    0
VNST                                      0
VehBCost                                  0
IsOnlineSale                              0
RefId                                     0
VehOdo                                    0
Model                                     0
Make                                      0
VehicleAge                                0
VehYear                                   0
Auction                                   0
PurchDate                                 0
WarrantyCost                              0
dtype: int64

In [14]:
df.describe()

,RefId,IsBadBuy,VehYear,VehicleAge,WheelTypeID,VehOdo,MMRAcquisitionAuctionAveragePrice,MMRAcquisitionAuctionCleanPrice,MMRAcquisitionRetailAveragePrice,MMRAcquisitonRetailCleanPrice,MMRCurrentAuctionAveragePrice,MMRCurrentAuctionCleanPrice,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,BYRNO,VNZIP1,VehBCost,IsOnlineSale,WarrantyCost
count,121690.000000,72983.000000,121690.000000,121690.000000,116333.000000,121690.000000,121662.000000,121662.000000,121662.000000,121662.000000,121232.000000,121232.000000,121232.000000,121232.000000,121690.000000,121690.000000,121690.000000,121690.000000,121690.000000
mean,60873.721152,0.122988,2005.338442,4.192317,1.481463,71530.557581,6131.300710,7381.581398,8518.292203,9878.809645,6124.184093,7387.528070,8790.307386,10165.581332,25980.432287,56504.093533,6742.914814,0.023971,1278.392045
std,35142.364075,0.328425,1.730953,1.709340,0.519645,14542.555509,2458.755863,2719.708057,3146.250127,3376.088147,2431.678295,2684.936023,3079.347677,3300.252061,25100.691848,26180.294422,1763.580596,0.152959,604.148576
min,1.000000,0.000000,2001.000000,0.000000,0.000000,223.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,835.000000,2764.000000,1.000000,0.000000,462.000000
25%,30443.250000,0.000000,2004.000000,3.000000,1.000000,61990.250000,4276.000000,5417.000000,6324.000000,7529.000000,4267.000000,5402.000000,6572.000000,7826.000000,17212.000000,32124.000000,5450.000000,0.000000,853.000000
50%,60873.500000,0.000000,2005.000000,4.000000,1.000000,73379.000000,6105.000000,7306.000000,8466.000000,9824.000000,6058.000000,7301.000000,8739.000000,10110.000000,19638.000000,64012.000000,6720.000000,0.000000,1169.000000
75%,91306.750000,0.000000,2007.000000,5.000000,2.000000,82428.500000,7761.000000,9036.000000,10658.000000,12124.000000,7720.000000,9020.000000,10895.000000,12333.000000,22808.000000,79932.000000,7910.000000,0.000000,1623.000000
max,121746.000000,1.000000,2010.000000,9.000000,3.000000,115717.000000,35722.000000,36859.000000,39080.000000,41482.000000,35722.000000,36859.000000,39080.000000,41062.000000,99791.000000,99224.000000,56950.000000,1.000000,7498.000000

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 121690 entries, 0 to 48706
Data columns (total 34 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   RefId                              121690 non-null  int64
 1   IsBadBuy                           72983 non-null   float64
 2   PurchDate                          121690 non-null  object
 3   Auction                            121690 non-null  object
 4   VehYear                            121690 non-null  int64
 5   VehicleAge                         121690 non-null  int64
 6   Make                               121690 non-null  object
 7   Model                              121690 non-null  object
 8   Trim                               117780 non-null  object
 9   SubModel                           121677 non-null  object
 10  Color                              121678 non-null  object
 11  Transmission                       121678 non-null  object
 12  WheelTypeID                        116333 non-null  float64
 13  WheelType                          116328 non-null  object
 14  VehOdo                             121690 non-null  int64
 15  Nationality                        121678 non-null  object
 16  Size                               121678 non-null  object
 17  TopThreeAmericanName               121678 non-null  object
 18  MMRAcquisitionAuctionAveragePrice  121662 non-null  float64
 19  MMRAcquisitionAuctionCleanPrice    121662 non-null  float64
 20  MMRAcquisitionRetailAveragePrice   121662 non-null  float64
 21  MMRAcquisitonRetailCleanPrice      121662 non-null  float64
 22  MMRCurrentAuctionAveragePrice      121232 non-null  float64
 23  MMRCurrentAuctionCleanPrice        121232 non-null  float64
 24  MMRCurrentRetailAveragePrice       121232 non-null  float64
 25  MMRCurrentRetailCleanPrice         121232 non-null  float64
 26  PRIMEUNIT                          5935 non-null    object
 27  AUCGUART                           5935 non-null    object
 28  BYRNO                              121690 non-null  int64
 29  VNZIP1                             121690 non-null  int64
 30  VNST                               121690 non-null  object
 31  VehBCost                           121690 non-null  float64
 32  IsOnlineSale                       121690 non-null  int64
 33  WarrantyCost                       121690 non-null  int64
dtypes: float64(11), int64(8), object(15)
memory usage: 32.5+ MB

In [16]:
df.drop(['Model',"Trim","SubModel"],axis=1,inplace=True)

In [17]:
df["Transmission"].value_counts()

AUTO      117408
MANUAL      4269
Manual         1
Name: Transmission, dtype: int64

In [18]:
df['Transmission'].replace("Manual","MANUAL",inplace=True)

In [19]:
df["AUCGUART"].value_counts()

GREEN    5810
RED       125
Name: AUCGUART, dtype: int64

In [20]:
df['Color'].fillna(value='Color_Unknown',inplace=True)
df['Transmission'].fillna(value='Transmission_unk',inplace=True)
df['Nationality'].fillna(value='Nationality_unk',inplace=True)
df['TopThreeAmericanName'].fillna(value='Top_unk',inplace=True)
df['AUCGUART'].fillna(value='AUC_unk',inplace=True)

In [21]:
df.drop(['MMRAcquisitionAuctionAveragePrice','MMRAcquisitionAuctionCleanPrice',
                'MMRAcquisitionRetailAveragePrice','MMRAcquisitonRetailCleanPrice',
                'MMRCurrentAuctionAveragePrice','MMRCurrentAuctionCleanPrice',
                'MMRCurrentRetailAveragePrice','MMRCurrentRetailCleanPrice',"PRIMEUNIT","WheelTypeID"],
               inplace=True,axis=1)

In [22]:
df.isnull().sum().sort_values(ascending=False)

IsBadBuy                48707
WheelType                5362
Size                       12
RefId                       0
IsOnlineSale                0
VehBCost                    0
VNST                        0
VNZIP1                      0
BYRNO                       0
AUCGUART                    0
TopThreeAmericanName        0
VehOdo                      0
Nationality                 0
Transmission                0
Color                       0
Make                        0
VehicleAge                  0
VehYear                     0
Auction                     0
PurchDate                   0
WarrantyCost                0
dtype: int64

In [23]:
df.fillna({'WheelType': 'Alloy','Size': 'MEDIUM'}, inplace=True)

In [24]:
df.describe()

,RefId,IsBadBuy,VehYear,VehicleAge,VehOdo,BYRNO,VNZIP1,VehBCost,IsOnlineSale,WarrantyCost
count,121690.000000,72983.000000,121690.000000,121690.000000,121690.000000,121690.000000,121690.000000,121690.000000,121690.000000,121690.000000
mean,60873.721152,0.122988,2005.338442,4.192317,71530.557581,25980.432287,56504.093533,6742.914814,0.023971,1278.392045
std,35142.364075,0.328425,1.730953,1.709340,14542.555509,25100.691848,26180.294422,1763.580596,0.152959,604.148576
min,1.000000,0.000000,2001.000000,0.000000,223.000000,835.000000,2764.000000,1.000000,0.000000,462.000000
25%,30443.250000,0.000000,2004.000000,3.000000,61990.250000,17212.000000,32124.000000,5450.000000,0.000000,853.000000
50%,60873.500000,0.000000,2005.000000,4.000000,73379.000000,19638.000000,64012.000000,6720.000000,0.000000,1169.000000
75%,91306.750000,0.000000,2007.000000,5.000000,82428.500000,22808.000000,79932.000000,7910.000000,0.000000,1623.000000
max,121746.000000,1.000000,2010.000000,9.000000,115717.000000,99791.000000,99224.000000,56950.000000,1.000000,7498.000000

In [25]:
df.isnull().sum().sort_values(ascending=False)

IsBadBuy                48707
RefId                       0
Nationality                 0
IsOnlineSale                0
VehBCost                    0
VNST                        0
VNZIP1                      0
BYRNO                       0
AUCGUART                    0
TopThreeAmericanName        0
Size                        0
VehOdo                      0
WheelType                   0
Transmission                0
Color                       0
Make                        0
VehicleAge                  0
VehYear                     0
Auction                     0
PurchDate                   0
WarrantyCost                0
dtype: int64

In [26]:
df_dummies=pd.get_dummies(df,drop_first=True)

In [27]:
df_train=df_dummies.iloc[:72983]
df_test = df_dummies.iloc[72983:]

In [28]:
df_train.isnull().sum().sort_values(ascending=False)

RefId                  0
PurchDate_5/17/2010    0
PurchDate_7/28/2009    0
PurchDate_7/28/2010    0
PurchDate_7/29/2009    0
                      ..
PurchDate_2/5/2009     0
PurchDate_2/5/2010     0
PurchDate_2/6/2009     0
PurchDate_2/8/2010     0
VNST_WV                0
Length: 641, dtype: int64

In [29]:
df_train.shape, df_test.shape

((72983, 641), (48707, 641))

In [30]:
df_test.isnull().sum().sort_values(ascending=False)

IsBadBuy               48707
PurchDate_8/6/2010         0
PurchDate_7/27/2010        0
PurchDate_7/28/2009        0
PurchDate_7/28/2010        0
                       ...
PurchDate_2/4/2010         0
PurchDate_2/5/2009         0
PurchDate_2/5/2010         0
PurchDate_2/6/2009         0
VNST_WV                    0
Length: 641, dtype: int64

In [31]:
df_test.head()

,RefId,IsBadBuy,VehYear,VehicleAge,VehOdo,BYRNO,VNZIP1,VehBCost,IsOnlineSale,WarrantyCost,PurchDate_1/11/2010,PurchDate_1/12/2009,PurchDate_1/12/2010,PurchDate_1/13/2009,PurchDate_1/13/2010,PurchDate_1/14/2009,PurchDate_1/14/2010,...,VNST_NH,VNST_NJ,VNST_NM,VNST_NV,VNST_NY,VNST_OH,VNST_OK,VNST_OR,VNST_PA,VNST_SC,VNST_TN,VNST_TX,VNST_UT,VNST_VA,VNST_WA,VNST_WI,VNST_WV
0,73015,NaN,2005,4,85377,18881,30212,6500.0,0,2152,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,73016,NaN,2005,4,61873,18111,30212,6300.0,0,1118,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,73017,NaN,2006,3,69283,18111,30212,9700.0,0,1215,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,73018,NaN,2002,7,87889,18881,30212,4150.0,0,1933,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,73019,NaN,2007,2,73432,18111,30212,4100.0,0,920,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [32]:
df_train.head()

,RefId,IsBadBuy,VehYear,VehicleAge,VehOdo,BYRNO,VNZIP1,VehBCost,IsOnlineSale,WarrantyCost,PurchDate_1/11/2010,PurchDate_1/12/2009,PurchDate_1/12/2010,PurchDate_1/13/2009,PurchDate_1/13/2010,PurchDate_1/14/2009,PurchDate_1/14/2010,...,VNST_NH,VNST_NJ,VNST_NM,VNST_NV,VNST_NY,VNST_OH,VNST_OK,VNST_OR,VNST_PA,VNST_SC,VNST_TN,VNST_TX,VNST_UT,VNST_VA,VNST_WA,VNST_WI,VNST_WV
0,1,0.0,2006,3,89046,21973,33619,7100.0,0,1113,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2,0.0,2004,5,93593,19638,33619,7600.0,0,1053,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,3,0.0,2005,4,73807,19638,33619,4900.0,0,1389,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,4,0.0,2004,5,65617,19638,33619,4100.0,0,630,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,5,0.0,2005,4,69367,19638,33619,4000.0,0,1020,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

from sklearn.model_selection import train_test_split
X=df_train.drop(['RefId','IsBadBuy'],axis=1)
y=df_train['IsBadBuy']

X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=42)

from sklearn.neighbors import KNeighborsClassifier
KNN=KNeighborsClassifier(n_neighbors=11)
KNN.fit(X_train,y_train)
KNN.score(X_test,y_test)
predict=KNN.predict(df_train.drop('RefId',axis=1))

In [33]:
from sklearn.model_selection import train_test_split
x =df_train.drop(['RefId','IsBadBuy'],axis=1)
y =df_train['IsBadBuy']

In [34]:
x

,VehYear,VehicleAge,VehOdo,BYRNO,VNZIP1,VehBCost,IsOnlineSale,WarrantyCost,PurchDate_1/11/2010,PurchDate_1/12/2009,PurchDate_1/12/2010,PurchDate_1/13/2009,PurchDate_1/13/2010,PurchDate_1/14/2009,PurchDate_1/14/2010,PurchDate_1/15/2009,PurchDate_1/15/2010,...,VNST_NH,VNST_NJ,VNST_NM,VNST_NV,VNST_NY,VNST_OH,VNST_OK,VNST_OR,VNST_PA,VNST_SC,VNST_TN,VNST_TX,VNST_UT,VNST_VA,VNST_WA,VNST_WI,VNST_WV
0,2006,3,89046,21973,33619,7100.0,0,1113,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2004,5,93593,19638,33619,7600.0,0,1053,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,2005,4,73807,19638,33619,4900.0,0,1389,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,2004,5,65617,19638,33619,4100.0,0,630,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,2005,4,69367,19638,33619,4000.0,0,1020,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72978,2001,8,45234,18111,30212,4200.0,0,993,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
72979,2007,2,71759,18881,30212,6200.0,0,1038,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
72980,2005,4,88500,18111,30212,8200.0,0,1893,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
72981,2006,3,79554,18881,30212,7000.0,0,1974,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
72982,2006,3,66855,18111,30212,8000.0,0,1313,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [35]:
y

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
72978    1.0
72979    0.0
72980    0.0
72981    0.0
72982    0.0
Name: IsBadBuy, Length: 72983, dtype: float64

In [36]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import roc_auc_score

In [37]:
def algo_test(x, y):
    L = LogisticRegression()
    KNN = KNeighborsClassifier()
    DTC = DecisionTreeClassifier()
    RFC = RandomForestClassifier()
    GBC = GradientBoostingClassifier()
    XGBC = XGBClassifier()

    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=13)

    algos = [L, KNN, DTC, RFC, GBC, XGBC]
    algo_names = ['Logistic', 'KNN', 'Decision Tree', 'Random Forest', 'Gradient Boosting', 'XGradientBooting']
    accuracy = []
    f1 = []
    auc = []
        
    result = pd.DataFrame(columns = ['Accuracy','F1 Score','AUC'],index = algo_names)
       
    for algo in algos:
        algo.fit(x_train, y_train)
             
        accuracy.append(accuracy_score(y_test, algo.predict(x_test)))
        f1.append(f1_score(y_test, algo.predict(x_test)))
        auc.append(roc_auc_score(y_test, algo.predict_proba(x_test)[:,1]))

    result.Accuracy = accuracy
    result.F1_Score = f1
    result.AUC = auc
    
    return result.sort_values('Accuracy', ascending=False)

In [38]:
algo_test(x,y)

                   Accuracy F1 Score       AUC
Gradient Boosting  0.878057      NaN  0.703009
XGradientBooting   0.877989      NaN  0.709009
Logistic           0.877167      NaN  0.616943
Random Forest      0.877030      NaN  0.692206
KNN                0.865041      NaN  0.552417
Decision Tree      0.816332      NaN  0.543502

In [39]:
df=df_test[df_train.drop("IsBadBuy",axis=1).columns]

In [45]:
df_test.head()

,RefId,IsBadBuy,VehYear,VehicleAge,VehOdo,BYRNO,VNZIP1,VehBCost,IsOnlineSale,WarrantyCost,PurchDate_1/11/2010,PurchDate_1/12/2009,PurchDate_1/12/2010,PurchDate_1/13/2009,PurchDate_1/13/2010,PurchDate_1/14/2009,PurchDate_1/14/2010,...,VNST_NH,VNST_NJ,VNST_NM,VNST_NV,VNST_NY,VNST_OH,VNST_OK,VNST_OR,VNST_PA,VNST_SC,VNST_TN,VNST_TX,VNST_UT,VNST_VA,VNST_WA,VNST_WI,VNST_WV
0,73015,NaN,2005,4,85377,18881,30212,6500.0,0,2152,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,73016,NaN,2005,4,61873,18111,30212,6300.0,0,1118,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,73017,NaN,2006,3,69283,18111,30212,9700.0,0,1215,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,73018,NaN,2002,7,87889,18881,30212,4150.0,0,1933,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,73019,NaN,2007,2,73432,18111,30212,4100.0,0,920,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [48]:
df_test.drop(["IsBadBuy"],axis=1,inplace=True)

In [49]:
from sklearn.model_selection import train_test_split
x =df_train.drop(['RefId','IsBadBuy'],axis=1)
y =df_train['IsBadBuy']

In [50]:
X_train,X_test,y_train,y_test=train_test_split(x,y,random_state=42)

In [51]:
from sklearn.neighbors import KNeighborsClassifier
KNN=KNeighborsClassifier(n_neighbors=11)
KNN.fit(X_train,y_train)
KNN.score(X_test,y_test)
predict=KNN.predict(df_test.drop('RefId',axis=1))

In [52]:
Submission=pd.DataFrame(data=predict,columns=['IsBadBuy'])
Submission.head()

   IsBadBuy
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0

In [54]:
Submission['RefId']=df_test['RefId']
Submission.set_index('RefId',inplace=True)

In [55]:
Submission.head()
Submission.to_csv('Submission.csv')